@model IEnumerable<ProductUI.Models.ActivityProduct>

@{
    ViewBag.Title = "GetActivityProducts";
}

<h2>GetActivityProducts</h2>

<p>
    @Html.ActionLink("Get Saved Items", "GetSavedProds")
</p>
<p>@Html.ActionLink("Get Booked Items", "GetBookedProds")</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityType)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityType)
        </td>
        <td>
            @Html.ActionLink("Book", "OnBookClick", new { @productId = item.ProductId }) |
            @Html.ActionLink("Save", "OnSaveClick", new { @productId = item.ProductId })
        </td>
     
    </tr>
}

</table>
